# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [self-hosted, 6510nl]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      # Cross-compile the source file LEFT to a binairy .prg file using KickAss
      # The source is written in the MOS 65xx architecture and using Java Script like functions and macros
      - name: Compile source file to binary .prg file
        run: |
          java -jar /KickAss.jar $GITHUB_WORKSPACE/sources/main-left.asm
          java -jar /KickAss.jar $GITHUB_WORKSPACE/sources/main-right.asm
  
      # Deploy the assembled .prg binary to the Ultimate device using 1541u2.pl
      # The perl script sends raw commands over TCP to the socket of the 1541Ulimate2(+) cartridge and/or the Ultimate64. 
      - name: Deploy .PRG to Ultimate devices
        continue-on-error: true
        run: |
          perl ~/1541u2.pl 1541u2-00 -c run:$GITHUB_WORKSPACE/sources/main-left.prg
          perl ~/1541u2.pl 1541u2-01 -c run:$GITHUB_WORKSPACE/sources/main-right.prg
      
